# Obsidian
content/.obsidian/workspace.json
content/.obsidian/workspace-mobile.json
content/.obsidian/plugins/
content/.obsidian/themes/
content/.obsidian/hotkeys.json
content/.obsidian/core-plugins.json
content/.obsidian/community-plugins.json

# Quartz
public/
node_modules/
.quartz-cache/

# OS
.DS_Store
Thumbs.db

# Build
dist/
